<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-left">Juan Torres - Historial Tratamientos</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

        <ion-item >
        <ion-thumbnail slot="start">
          <img src="./assets/fork.svg" />
        </ion-thumbnail>
        <ion-label>
          <h2>Preparación tierra</h2>
          <p>01 de Septiembre</p>
        </ion-label>
        <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="./assets/gmo.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Aplicación producto</h2>
            <p>08 de Septiembre</p>
          </ion-label>
          <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="./assets/seeds.svg" />
          </ion-thumbnail>
          <ion-label>
            <h2>Inicio siembra</h2>
            <p>09 de Septiembre</p>
          </ion-label>
          <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="./assets/bug.png" />
          </ion-thumbnail>
          <ion-label>
            <h2>Fumigación</h2>
            <p>14 de Septiembre</p>
          </ion-label>
          <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-item>

</ion-content>
